.container {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px;
   
}

h3 {
    color: #333;
}

.list {
    margin: 5px 0;
}

.list a {
    text-decoration: none;
    color: #575757;
}

.list a:hover {
    text-decoration: underline;
}
