



.footer {
    background-color: #e7e7e7; /* Cor de fundo */
    margin:  auto;
}


.footer-content {
    display: flex; /* Flexbox para layout horizontal */
    justify-content: space-around; /* Espaço igual entre seções */
    max-width: 1900px; /* Largura máxima */
    margin: 0 auto; /* Centraliza o footer */
    flex-wrap: wrap; /* Permite quebra de linha se necessário */
}

.footer-section {
    flex: 1; /* Cada seção ocupa espaço igual */
    padding: 0 15px; /* Espaçamento lateral */
    margin-bottom: 20px; /* Espaço entre as seções */
}

.footer-section h4 {
    margin-bottom: 10px; /* Espaço abaixo do título */
}

.footer-section ul {
    list-style: none; /* Remove marcadores */
    padding: 0; /* Remove padding */
}

.footer-section ul li {
    margin-bottom: 30px; /* Espaço entre itens */
}

.footer-section a {
    text-decoration: none; /* Remove sublinhado */
    color: #333; /* Cor do texto */
}

.footer-section a:hover {
    text-decoration: underline; /* Sublinha ao passar o mouse */
}

.footer-section img {
    width: 100px; /* Largura das imagens do app */
    margin: 5px 0; /* Espaço entre imagens */
}

/* Estilo para ícones de redes sociais */
.social-icons-section {
    margin-top: 20px; /* Espaço acima da seção de ícones de redes sociais */
    margin-left: -15px;
}

.footer-section .social-icons {
    display: flex; /* Flexbox para alinhar ícones horizontalmente */
    padding: 0; /* Remove padding */
}

.footer-section .social-icons li {
    margin-right: 10px; /* Espaço entre ícones */
}

.footer-section .social-icons i {
    font-size: 24px; /* Tamanho dos ícones */
    color: #007ac3  ; /* Cor dos ícones */
    transition: color 0.3s; /* Transição suave para a cor */
}

.footer-section .social-icons a:hover i {
    color: #007bff; /* Cor ao passar o mouse */
}

.footer-bottom {
    text-align: center; /* Centraliza o texto */
    padding: 10px 0; /* Espaçamento vertical */
    background-color: #e0e0e0; /* Cor de fundo do rodapé */
}

.for{
    color: #c11926;
}
/*glossario começo*/
.container-Glossario{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -400px;
}

.footer-section1 ul {
    list-style: none; /* Remove marcadores */
    padding: 0; /* Remove padding */
    display: flex;
}

.footer-section1 {
    flex: 1; /* Cada seção ocupa espaço igual */
    padding: 0 15px; /* Espaçamento lateral */
    margin-bottom: 20px; /* Espaço entre as seções */
    gap: 1.5rem;
}

.footer-section1 ul li {
    margin-bottom: 70px; /* Espaço entre itens */
    margin-right: 20px;
}

.footer-section1 a {
    text-decoration: none; /* Remove sublinhado */
    color: #333; /* Cor do texto */
  
}
/*glossario fim*/

.two {
    color: red;
    margin-top: -40px;

    
}


.container {
    width: 80%; /* ou um valor fixo */
    margin: 0 auto;
    padding: 0 20px; /* espaço nas laterais */
    background-color: #f0f0f0; /* cor de fundo */
}
